* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,lightblue 50%, pink 50%);
}

.container {
    margin: 0 auto;
    height: 550px;
    width: 530px;
    background: #2c3e50;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    overflow-y: scroll;
}

#input {
    height: 66px;
    width: 100%;
    outline: #FFFFFF;
    border: #FFFFFF;
    border-radius: 5px;
    background: #34495e;
    color: #ecf0f1;
    padding: 0 10px;
    margin: 15px 0;
}

#input::placeholder {
    color: #bdc3c7; /* Silver */
}

ul li {
    background: #ecf0f1; /* Clouds */
    color: #2c3e50; /* Midnight Blue */
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

ul .fa-check, .fa-trash {
    cursor: pointer;
    margin-left: 10px;
}

ul .fa-check {
    color: #27ae60; /* Nephritis */
}

ul .fa-trash {
    color: #c0392b; /* Pomegranate */
}

ul .checked {
    text-decoration: line-through;
    transition: .3s;
}
